<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
<!-- <bean id="bankRepository" class="com.capgemini.bankapp.repository.impl.BankAccountRepositoryImpl"/>


<bean id="bankService" class="com.capgemini.bankapp.service.impl.BankAccountServiceImpl">
<property name="bankAccountRepository" ref="bankRepository"/>
<constructor-arg index="0" ref="bankRepository"/>

</bean>

<bean id="bankController" class="com.capgemini.bankapp.controller.BankAccountController">
<property name="bankAccountService" ref="bankService"/>
<constructor-arg index="0" ref="bankService"/>

</bean> -->

<context:annotation-config/>
<context:component-scan base-package="com.capgemini.bankapp"/>

</beans>
